<h2><%= ProductModel.model_name.human(count: 2) %></h2>

<div class='new-button'><%= link_to t('views.register_product_model'), new_product_model_path %></div>

<% if @product_models.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.product_model.name') %></th>
        <th><%= t('activerecord.attributes.product_model.sku') %></th>
        <th><%= t('activerecord.attributes.supplier.brand_name') %></th>
      </tr>
    </thead>
    <tbody>
      <% @product_models.each do |product_model| %>
      <tr>
        <td><%= link_to product_model.name, product_model %></td>
        <td><%= product_model.sku %></td>
        <td><%= product_model.supplier.brand_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='no-data'>There are no registered product models!</p>
<% end %>