<h2><%= t('views.warehouses') %></h2>

<div class='new'><%= link_to t('views.register_warehouse'), new_warehouse_path %></div>

<% @warehouses.each do |warehouse| %>
  <div class='warehouse-card'>
    <h3><%= link_to warehouse.name, warehouse %></h3>

    <div class='list'>
      <ul>
        <li><strong><%= t('activerecord.attributes.warehouse.code') %>:</strong> <%= warehouse.code %></li>
        <li><strong><%= t('activerecord.attributes.warehouse.city') %>:</strong> <%= warehouse.city %></li>
        <li><strong><%= t('activerecord.attributes.warehouse.area') %>:</strong> <%= warehouse.area %> m²</li>
      </ul>
    </div>
  </div>
<% end %>

<% if @warehouses.empty? %>
  <p>There are no registered warehouses!</p>
<% end %>