<h2>Warehouses</h2>

<%= link_to 'Register Warehouse', new_warehouse_path %>

<% @warehouses.each do |warehouse| %>
  <div class='warehouse-card'>
    <h3><%= link_to warehouse.name, warehouse %></h3>

    <ul>
      <li><strong>Code</strong>: <%= warehouse.code %></li>
      <li><strong>City:</strong> <%= warehouse.city %></li>
      <li><strong>Area:</strong> <%= warehouse.area %> m²</li>
    </ul>
  </div>
<% end %>

<% if @warehouses.empty? %>
  <p>There are no registered warehouses!</p>
<% end %>