<h2><%= Warehouse.model_name.human(count: 2) %></h2>

<div class='new-button'><%= link_to t('views.register_warehouse'), new_warehouse_path %></div>

<% if @warehouses.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.warehouse.name') %></th>
        <th><%= t('activerecord.attributes.warehouse.code') %></th>
        <th><%= t('activerecord.attributes.warehouse.city') %></th>
        <th><%= t('activerecord.attributes.warehouse.area') %></th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= link_to warehouse.name, warehouse %></td>
        <td><%= warehouse.code %></td>
        <td><%= warehouse.city %></td>
        <td><%= warehouse.area %> m²</td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='no-data'>There are no registered warehouses!</p>
<% end %>