<h2><%= Order.model_name.human(count: 2) %></h2>

<div class='new-button'><%= link_to t('views.register_order'), new_order_path %></div>

<% if @orders.any? %>
 <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Responsible User</th>
        <th><%= t('views.warehouse_id') %></th>
        <th><%= t('models.supplier') %></th>
        <th><%= t('attributes.order.expected_delivery_date') %></th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.code, order %></td>
          <td><%= order.user.name %> - <%= order.user.email %></td>
          <td><%= order.warehouse.warehouse_info %></td>
          <td><%= order.supplier.corporate_name %></td>
          <td><%= I18n.localize(order.expected_delivery_date) %></td>
          <td><%= t("status.#{order.status}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='no-data'>There are no registered orders!</p>
<% end %>