<h2><%= Order.model_name.human(count: 1) %> <span class="highlight"><%= @order.code %></span></h2>

<table>
  <thead>
    <tr>
      <th>Responsible User</th>
      <th><%= t('views.warehouse_id') %></th>
      <th><%= t('models.supplier') %></th>
      <th><%= t('attributes.order.expected_delivery_date') %></th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.user.name %> - <%= @order.user.email %></td>
      <td><%= @order.warehouse.warehouse_info %></td>
      <td><%= @order.supplier.corporate_name %></td>
      <td><%= l(@order.expected_delivery_date) %></td>
      <td><%= t("status.#{@order.status}") %></td>
    </tr>
  </tbody>
</table>

<div class='action-button'>
  <div class='edit'><%= link_to 'Edit', edit_order_path(@order) %></div>

  <% if @order.pending? %>
    <div class='delivered'><%= button_to 'Delivered', delivered_order_path(@order) %></div>
    <div class='canceled'><%= button_to 'Canceled', canceled_order_path(@order) %></div>
  <% end %>
</div>

<h2><%= OrderItem.model_name.human %></h2>

<table>
  <thead>
    <tr>
      <th><%= ProductModel.model_name.human %></th>
      <th><%= Order.model_name.human %></th>
      <th><%= t('attributes.order_item.quantity') %></th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product_model.name %></td>
        <td><%= item.order.code %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %> 
  </tbody>
</table>