<h2><%= t('models.order') %> <%= @order.code %></h2>

<table>
  <thead>
    <tr>
      <th>Responsible User</th>
      <th><%= t('views.warehouse_id') %></th>
      <th><%= t('models.supplier') %></th>
      <th><%= t('attributes.order.expected_delivery_date') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.user.name %> - <%= @order.user.email %></td>
      <td><%= @order.warehouse.warehouse_info %></td>
      <td><%= @order.supplier.corporate_name %></td>
      <td><%= I18n.localize(@order.expected_delivery_date) %></td>
    </tr>
  </tbody>
</table>