<h2><%= Order.model_name.human(count: 1) %> <span class="highlight"><%= @order.code %></span></h2>

<table>
  <thead>
    <tr>
      <th><%= t('views.responsible') %></th>
      <th><%= t('activerecord.attributes.order.warehouse_id') %></th>
      <th><%= Supplier.model_name.human(count: 1) %></th>
      <th><%= t('activerecord.attributes.order.expected_delivery_date') %></th>
      <th><%= t('activerecord.attributes.order.status') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.user.name %> - <%= @order.user.email %></td>
      <td><%= @order.warehouse.warehouse_info %></td>
      <td><%= @order.supplier.corporate_name %></td>
      <td><%= l(@order.expected_delivery_date) %></td>
      <td><%= t("status.#{@order.status}") %></td>
    </tr>
  </tbody>
</table>

<div class='action-button'>
  <div class='edit'><%= link_to t('actions.edit'), edit_order_path(@order) %></div>

  <% if @order.pending? %>
    <div class='delivered'><%= button_to t('actions.delivered'), delivered_order_path(@order) %></div>
    <div class='canceled'><%= button_to t('actions.canceled'), canceled_order_path(@order) %></div>
  <% end %>
</div>

<h2><%= OrderItem.model_name.human %></h2>

<table>
  <thead>
    <tr>
      <th><%= ProductModel.model_name.human %></th>
      <th><%= Order.model_name.human %></th>
      <th><%= t('activerecord.attributes.order_item.quantity') %></th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product_model.name %></td>
        <td><%= item.order.code %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<div class='action-button'>
  <div class='add-item'><%= link_to t('actions.add_item'), new_order_order_item_path(order_id: @order.id) %></div>
</div>