<h2><%= Supplier.model_name.human(count: 2) %></h2>

<section class='suppliers'>
  <div class='new-button'><%= link_to t('views.register_supplier'), new_supplier_path %></div>
  
  <% if @suppliers.any? %>
    <table>
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.supplier.brand_name') %></th>
          <th><%= t('views.location') %></th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= link_to supplier.brand_name , supplier %></td>
          <td><%= supplier.city %> - <%= supplier.state %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class='no-data'>There are no registered suppliers!</p>
  <% end %>
</section>