<h2><%= Supplier.model_name.human(count: 1) %> <%= @supplier.brand_name %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.supplier.corporate_name') %></th>
      <th><%= t('activerecord.attributes.supplier.registration_number') %></th>
      <th><%= t('views.location') %></th>
      <th><%= t('activerecord.attributes.supplier.email') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @supplier.corporate_name %></td>
      <td><%= @supplier.registration_number %></td>
      <td><%= @supplier.address %> - <%= @supplier.city %> - <%= @supplier.state %></td>
      <td><%= @supplier.email %></td>
    </tr>
  </tbody>
</table>

<div class='action-button'>
  <div class='edit'><%= link_to 'Edit', edit_supplier_path(@supplier) %></div>
  <div class='delete'><%= button_to 'Delete', supplier_path(@supplier), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %></div>
</div>