<div class='form-container'>
  <%= form_with model: @warehouse do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= error_message_for(:name) %>
    </div>
    <div>
      <%= f.label :code %>
      <%= f.text_field :code %>
      <%= error_message_for(:code) %>
    </div>
    <div>
      <%= f.label :city %>
      <%= f.text_field :city %>
      <%= error_message_for(:city) %>
    </div>
    <div>
      <%= f.label :area %>
      <%= f.number_field :area %>
     <%= error_message_for(:area) %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
      <%= error_message_for(:address) %>
    </div>
    <div>
      <%= f.label :cep, 'CEP' %>
      <%= f.text_field :cep %>
      <%= error_message_for(:cep) %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= error_message_for(:description) %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>