<h2><%= t('activerecord.models.warehouse') %> <%= @warehouse.code %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.warehouse.name') %></th>
      <th><%= t('activerecord.attributes.warehouse.city') %></th>
      <th><%= t('activerecord.attributes.warehouse.area') %></th>
      <th><%= t('activerecord.attributes.warehouse.address') %></th>
      <th><%= t('activerecord.attributes.warehouse.description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @warehouse.name %></td>
      <td><%= @warehouse.city %></td>
      <td><%= @warehouse.area %> m²</td>
      <td><%= @warehouse.address %> - CEP: <%= @warehouse.cep %></td>
      <td><%= @warehouse.description %></td>    
    </tr>
  </tbody>
</table>

<div><%= link_to 'Edit', edit_warehouse_path(@warehouse) %></div>
<div><%= button_to 'Delete', warehouse_path(@warehouse), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %></div>