<h2><%= Warehouse.model_name.human(count: 1) %> <span class="highlight"><%= @warehouse.code %></span></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.warehouse.name') %></th>
      <th><%= t('activerecord.attributes.warehouse.city') %></th>
      <th><%= t('activerecord.attributes.warehouse.area') %></th>
      <th><%= t('activerecord.attributes.warehouse.address') %></th>
      <th><%= t('activerecord.attributes.warehouse.description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @warehouse.name %></td>
      <td><%= @warehouse.city %></td>
      <td><%= @warehouse.area %> m²</td>
      <td><%= @warehouse.address %> - CEP: <%= @warehouse.cep %></td>
      <td><%= @warehouse.description %></td>    
    </tr>
  </tbody>
</table>

<div class='action-button'>
  <div class='edit'><%= link_to t('actions.edit'), edit_warehouse_path(@warehouse) %></div>
  <div class='delete'><%= button_to t('actions.delete'), warehouse_path(@warehouse), method: :delete, form: { data: { turbo_confirm: t('views.are_you_sure') } } %></div>
</div>

<h2><%= StockProduct.model_name.human %></h2>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product_model.name') %></th>
      <th><%= t('activerecord.attributes.product_model.sku') %></th>
      <th><%= t('activerecord.attributes.order_item.quantity') %></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each_pair do |key, value| %>
      <tr>
        <td><%= key.name %></td>
        <td><%= key.sku %></td>
        <td><%= value %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<h2><%= t('views.stock_deduct') %></h2>

<div class='form-container'>
  <%= form_with url: warehouse_stock_product_destinations_path(@warehouse.id) do |f| %>
    <div>
      <%= f.label :product_model_id, 'SKU' %>
      <%= f.collection_select :product_model_id, @product_models, :id, :sku %>
    </div>    
    <div>
      <%= f.label :recipient, t('activerecord.attributes.stock_product_destination.recipient') %>
      <%= f.text_field :recipient %>
    </div>
    <div>
      <%= f.label :address, t('activerecord.attributes.stock_product_destination.address') %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.submit t('actions.confirm_dispatch') %>
    </div>
  <% end %>
</div>
