<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= image_tag 'warehouse-solid', class: 'icon' %>Warehouses & Stocks</h1>
    </header>    

    <nav>
      <ul>
        <li><%= link_to t('views.home'), root_path %></li>
        <li><%= link_to Supplier.model_name.human(count: 2), suppliers_path %></li>
        <li><%= link_to ProductModel.model_name.human(count: 2), product_models_path %></li>
        <li><%= link_to Order.model_name.human(count: 2), orders_path %></li>

        <% if user_signed_in? %>
          <li>
            <%= form_with url: search_orders_path, method: :get do |f| %>
              <%= f.label :query, 'Search Order' %>
              <%= f.text_field :query, placeholder: 'Search Order' %>
              <%= f.submit 'Search' %>
            <% end %>
          </li>

          <div class='user'>
            <li><%= current_user.user_info %></li>
            <li><%= button_to t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete %></li>
          </div>
        <% else %>
          <div class='user'>
            <li><%= link_to t('devise.sessions.sign_in'), new_user_session_path %></li>
          </div>
        <% end %>                 
      </ul>
    </nav>    
    
    <main>
      <% if notice.present? || alert.present? %>
        <div class="<%= notice.present? ? 'success-message' : 'error-message' %>">
          <%= notice || alert %>
        </div>
      <% end %>      

      <%= yield %>
    </main>    
  </body>
</html>