<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Warehouses & Stocks</h1>
    </header>    

    <nav>
      <ul>
        <li><%= link_to t('views.home'), root_path %></li>
        <li><%= link_to t('views.suppliers'), suppliers_path %></li>
        <li><%= link_to t('views.product_models'), product_models_path %></li>
      </ul>
    </nav>    
    
    <main>
      <% if notice.present? || alert.present? %>
        <div class="<%= notice.present? ? 'success-message' : 'error-message' %>">
          <%= notice || alert %>
        </div>
      <% end %>      

      <%= yield %>
    </main>
  </body>
</html>